In [5]:
import pandas as pd
import numpy as np
import hashlib

In [6]:
books = pd.read_csv("books.csv")
reviews = pd.read_csv("reviews.csv")

In [ ]:
seed = "STU034"        
full_hash = hashlib.sha256(seed.encode()).hexdigest()
my_hash8 = full_hash[:8].upper()
print("MY_HASH (8 chars, uppercase):", my_hash8)
print("FLAG2 format =>", f"FLAG2{{{my_hash8}}}")

MY_HASH (8 chars, uppercase): 2CE049BE
FLAG2 format => FLAG2{2CE049BE}

In [8]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   title                    20000 non-null  object
 1   subtitle                 18600 non-null  object
 2   author_name              20000 non-null  object
 3   author_about             20000 non-null  object
 4   publisher                19945 non-null  object
 5   publisher_date           19839 non-null  object
 6   format                   15544 non-null  object
 7   page_count               15544 non-null  float64
 8   language                 19975 non-null  object
 9   isbn_10                  18142 non-null  object
 10  isbn_13                  18249 non-null  object
 11  main_category            20000 non-null  object
 12  category_level_1_main    19882 non-null  object
 13  category_level_2_sub     19882 non-null  object
 14  category_level_3_detail  19698 non-null  object
 15  average_rating           20000 non-null  float64
 16  rating_number            20000 non-null  int64
 17  price                    20000 non-null  float64
 18  price_numeric            20000 non-null  float64
 19  description              20000 non-null  object
 20  features_text            19967 non-null  object
 21  dimensions               18439 non-null  object
 22  item_weight              18549 non-null  object
 23  images                   20000 non-null  object
 24  videos                   20000 non-null  object
 25  store                    19970 non-null  object
 26  parent_asin              20000 non-null  object
 27  bought_together          0 non-null      float64
dtypes: float64(5), int64(1), object(22)
memory usage: 4.3+ MB

In [9]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 728026 entries, 0 to 728025
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   rating             728026 non-null  float64
 1   title              727932 non-null  object
 2   text               727914 non-null  object
 3   images             727876 non-null  object
 4   asin               728026 non-null  object
 5   parent_asin        727876 non-null  object
 6   user_id            727876 non-null  object
 7   timestamp          728026 non-null  int64
 8   helpful_vote       728026 non-null  int64
 9   verified_purchase  728026 non-null  bool
 10  date               727876 non-null  object
 11  year               728026 non-null  int64
dtypes: bool(1), float64(1), int64(3), object(7)
memory usage: 61.8+ MB

In [10]:
found_reviews_text = reviews[
    reviews["text"].str.contains(my_hash8, case=False, na=False)
]

found_reviews_title = reviews[
    reviews["title"].str.contains(my_hash8, case=False, na=False)
]

In [11]:
print("Matches in text:", len(found_reviews_text))
print("Matches in title:", len(found_reviews_title))

Matches in text: 1
Matches in title: 0

In [12]:
print("Number of matching fake reviews found:", len(found_reviews_text))
found_reviews_text

Number of matching fake reviews found: 1

,rating,title,text,images,asin,parent_asin,user_id,timestamp,helpful_vote,verified_purchase,date,year
250395,5.0,Top Recommendation,2CE049BE perfect incredible read,NaN,0008111995,NaN,NaN,0,0,True,NaN,0

In [14]:
# Extract the matching review's parent_asin
target_parent_asin = found_reviews_text["asin"].iloc[0]
print("Matched Parent ASIN:", target_parent_asin)

Matched Parent ASIN: 0008111995

In [16]:
books.columns

Index(['title', 'subtitle', 'author_name', 'author_about', 'publisher',
       'publisher_date', 'format', 'page_count', 'language', 'isbn_10',
       'isbn_13', 'main_category', 'category_level_1_main',
       'category_level_2_sub', 'category_level_3_detail', 'average_rating',
       'rating_number', 'price', 'price_numeric', 'description',
       'features_text', 'dimensions', 'item_weight', 'images', 'videos',
       'store', 'parent_asin', 'bought_together'],
      dtype='object')

In [17]:
my_book = books[books["parent_asin"] == target_parent_asin]

print("Matched Book Row:")
my_book[["title", "rating_number", "average_rating", "parent_asin"]]

Matched Book Row:

,title,rating_number,average_rating,parent_asin
15046,Collins Easy Learning Italian ― Easy Learning ...,1234,5.0,0008111995

In [19]:
title = my_book["title"].iloc[0]
print("Book Title:", title)

clean = "".join(title.split())

first8 = clean[:8]
print("First 8 non-space chars:", first8)

FLAG1 = hashlib.sha256(first8.encode()).hexdigest()
print("FLAG1 =", FLAG1)

Book Title: Collins Easy Learning Italian ― Easy Learning Italian Conversation
First 8 non-space chars: CollinsE
FLAG1 = f844293553835b74db6bce8008fbb771472c8cffaae6bed80ff390ac3f6f1f7d